body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #1c1c1c;
  color: #e0e0e0;
}

.quiz-container {
  width: 90%;
  max-width: 600px;
  background-color: #2c2c2c;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #4db8ff;
}

.question {
  font-size: 20px;
  margin-bottom: 15px;
}

/* Obrazek pytania */
#question-image {
  max-width: 100%;
  max-height: 250px;
  margin-bottom: 20px;
  margin: auto;
  border-radius: 8px;
  display: none;
}

.options button {
  width: 80%;
  margin: 8px 0;
  padding: 12px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #3c3c3c;
  color: #e0e0e0;
  transition: background-color 0.3s, transform 0.2s;
}

.options button:hover {
  background-color: #5c5c5c;
  transform: scale(1.02);
}

.options button.selected {
  background-color: #4db8ff;
  color: #fff;
}

.result {
  font-size: 24px;
  margin-top: 20px;
  color: #4db8ff;
}

.mistakes {
  max-height: 400px;
  overflow-y: auto;
  font-size: 18px;
  margin-top: 20px;
  color: #e74c3c;
  text-align: left;
  padding-right: 20px;
}

.mistakes::-webkit-scrollbar {
  width: 12px;
}

.mistakes::-webkit-scrollbar-track {
  background: #3c3c3c;
  border-radius: 10px;
}

.mistakes::-webkit-scrollbar-thumb {
  background: #4db8ff;
  border-radius: 10px;
}

.mistakes::-webkit-scrollbar-thumb:hover {
  background: #3498db;
}

.menu-button {
  margin-top: 30px;
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #4db8ff;
  color: #fff;
  transition: background-color 0.3s, transform 0.2s;
}

.menu-button:hover {
  background-color: #3498db;
  transform: scale(1.1);
}
